* {
  margin: 0;
  padding: 0;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F4F4F4 !important;
}

.headertitle {
  font-size: 16px !important;
  font-weight: 600;
  color: #414143 !important;
  text-decoration: underline !important;
  display: flex;
  flex-wrap: wrap;
}

.headertitle:hover {
  color: #414143cf !important;
}

.headertwo {
  padding: 0 16px !important;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.rightheader {
  display: flex;
  padding: 5px 10px;
  align-items: center;
}

.headericons {
  display: flex;
  align-items: center;
}

.hostbtn {
  margin-right: 20px;
}

.hostbtn button {
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 700;
  color: #414143cf !important;

}

.menu {
  padding: 0 5px;
  font-size: 18px;
  cursor: pointer;
}

.user {
  padding: 0 5px;
  font-size: 18px;
}

/* main css */


.absoluteheader {
  padding: 20px 10px;
}

.row {
  background-color: #fff;
  padding: 3px 13px;
  border-radius: 60px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 14%);
  align-items: center;
}

.first,
.sceond {
  border-right: 1px solid #80808085;
}

.text {
  line-height: unset;
}

.text1 {
  font-size: 13px;
}

.first input {
  border: none;
  width: 100%;
}

.date-time {
  display: flex;
  justify-content: space-between;
}

.date,
.time {
  font-weight: 500;
}

.searchbar {
  justify-content: center;
  display: flex;
}

.search {
  border-radius: 40px;
  height: 40px;
  line-height: 1;
  margin-top: 0;
  width: 40px;
  background: #593CFB;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 19px;
}

/* find you device  */

.Findyourdevice {
  text-align: center;
  padding: 50px 0;
}

.Findyourdevice h4 {
  font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
  font-size: 90px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 90px;
  text-transform: none;
}

.Findyourdevice p {
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 900;
  letter-spacing: -0.2px;
  text-transform: none;
  margin-top: 20px;
  position: relative;
  margin-bottom: unset;
}

.shadow {
  position: absolute;
  background-color: #F2E9FF;
  width: 70%;
  height: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -20px;
  z-index: -1;
}

.Findyourdevice div {
  padding: 0 10px;
}

/* .card slider  */
.carsliders {
  padding-top: 90px;
  position: relative;
}

.eachcard {
  box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
  overflow: hidden;
  text-align: center;
  width: 190px;
}

.carsliders .slick-slide.slick-active {
  width: 190px !important;
  margin: 0 15px !important;

}

.card_img {
  width: 190px;
}

.card_img img {
  width: 190px;
}

.cardtitle {
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.carsliders .slick-prev:before {
  color: #898989 !important;
  line-height: unset !important;
}

.carsliders .slick-prev {
  right: 7% !important;
  z-index: 1 !important;
  top: -25.5px !important;
  left: unset !important;
}

/* next arrow  */


.carsliders .slick-next {
  z-index: 1 !important;
  top: -30px !important;
  right: 4% !important;
}

.carsliders .slick-next:before {
  color: #898989 !important;
}

.carsliders .slick-dots {
  display: none !important;
}

.carsliders h4 {
  position: absolute;
  z-index: 1;
  bottom: 84%;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 900;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
}


/* bacground */
.titleimg {
  width: 100%;
  background-image: url(../src/components/assests/images/hp_ny_992x400-2x_2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 500px;
  /* background-position-x: center; */
  /* background-position-y: center; */
  background-size: cover;
}


/* modal part   */
.ant-dropdown-placement-bottom {
  cursor: pointer;
}


.ant-modal-body {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: column;
}

.login-inputs{
  display: flex;
  flex-direction: column;
}
.email-login,.password-login{
  display: flex;
  flex-direction: column;
}
.email-login input,.password-login input{
    padding: 7px 9px;
    margin-bottom: 8px;
    border: 1px solid #818181 ;
}

.email-login input:focus,.password-login input:focus{
  outline: 1px solid #593CFB;
}


.ant-modal-header{
  text-align: center;
}
.ant-modal-header h1{
  color: rgb(18, 18, 20);
    text-align: center;
    font-family: RlFreight,  HoeflerText-Black,  Times New Roman,  serif;
    font-weight: 700;
}

.modal-button {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 10px;
}
.ant-modal-footer{
  display: none !important;
}

.ant-modal-close {
  color: unset !important;
}


.modal-icons{
  margin-right: 7px;
}













@media screen and (max-width:768px) {
  .headertitle {
    font-size: 10px !important;
  }

  .hostbtn {
    display: none;
  }

  .titleimg {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

  .row {
    border-radius: unset;

  }

  .absoluteheader {
    padding: 10px;
  }

  .first,
  .sceond {
    border-bottom: 1px solid #80808085;
    border-right: unset;
  }

  .Findyourdevice h4 {
    font-size: 40px;
    line-height: unset;
    font-family: 600;
    margin: unset;

  }

  .Findyourdevice p {
    margin-top: unset;
    font-size: 15px;
    margin-bottom: unset;
  }

  .carsliders .slick-dots {
    display: none !important;
  }

  .carsliders .slick-prev {
    right: 10% !important;
  }

  .carsliders .slick-next {
    right: 3%;
  }

}

@media screen and (max-width:400px) {
  .container {
    max-width: 308px !important;
  }

  .carsliders .slick-prev {
    right: 13% !important;
  }
}